.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.form_contact {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
