.container_projects {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
}

.card_project {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 7px;
}

.card_project:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px;
}

/* .card_project:hover .img_project {
    transform: scale(1.1);
} */

.card_project_badge {
    background: #4f4f4f;
    padding: 0.2em;
    border-radius: 5px;
    color: white;
    min-width: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .container_projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container_projects {
        grid-template-columns: repeat(3, 1fr);
    }
}
