.home {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2em;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.home div {
    text-align: center;
}

.button {
    padding: 0.5em;
    min-width: 120px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.5em;
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }

    .home div {
        width: 50%;
        text-align: center;
    }
}
