.home {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2em;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.home div {
    text-align: center;
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }

    .home div {
        width: 50%;
        text-align: center;
    }
}
