@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --white: #fff;
  --primary: #548bff;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.text-error {
    color: red;
    font-size: 14px;
    font-weight: bold;
}